<h1>Rotten Mangoes Users</h1>
<h3><%= link_to "Make a new user", new_admins_user_path %> | <%= link_to "Back to movies", movies_path %></h3>
<hr>

<% @users.each do |user| %>
  <h2><%= link_to "#{user.full_name}", admins_user_path(user) %> </h2>
  <p><%= user.email %></p>
  <p>admin status: <%= user.admin %></p>
  <hr>
<% end %>
<%= paginate @users %>